[Desktop Entry]
Type=Application
Name=DeclaraCAD
GenericName=DeclaraCAD
Comment=A declaraive parametric 3D modeling application
Exec=QT_QPA_PLATFORM=xcb declaracad
Icon=declaracad
Terminal=false
Categories=Engineering;
MimeType=application/x-enaml;
Keywords=cad;3d;model;modeling;part;draft;sketch;
